{{ define "main" }}
  <div class="content">
    <div class="gallery-container">
      {{ range .Pages.ByLastmod.Reverse }}
     
      <a href="{{.Permalink}}">
        <div class="note-item"
        {{ if .Params.heroImage }}
          style="background-image:url(' {{ .Permalink }}{{ .Params.heroImage }} ');"
        {{end}}>
            <h2>{{.Title}}</h2>
            <span class="note-date">📅{{.Params.lastmod}} </span>
            <div class="summary-div">{{.Summary}}</div>
        </div>
        </a>
      {{ end }}
    </div>
</div>
{{end}}
