{{ define "main" }}
<div class="main-grid-container">
  <div class="content">
    
    <div class="project-hero-banner"
    {{ if .Params.heroImage }}
      style="background-image:url(' {{ .URL }}{{ .Params.heroImage }} ');"
    {{end}}></div>
    
    <div class="project-meta">
      <h2>{{.Params.title}}</h2>
      {{with .Params.what}} <div><strong>what</strong> ◽ {{.}}</div> {{end}}
      {{if .Params.with}} <div><strong>with</strong>  {{range .Params.with}} <span>◽ {{.}} </span> {{end}} </div> {{end}}
      {{if .Params.when}} <div><strong>when</strong> {{range .Params.when}} <span>◽ {{.}} </span> {{end}} </div> {{end}}
      {{if .Params.where}} <div><strong>where</strong> {{range .Params.where}} <span>◽ {{.}} </span> {{end}} </div> {{end}}
      

    </div>
    


    {{ .Content }}
  </div>
  
  
  <div class="contextual-nav"></div>
</div>
{{end}}