
:root{
  --max-width: 1200px; 
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  line-height: 1.3rem;
}

a{
  text-decoration: underline;
  text-decoration-color: hotpink;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
  padding-left: 1rem;
  /* margin: 1rem; */
  /* why no worky? */
}

li{
  padding-bottom: 1rem;
}

li::before{
  content: '🍄 ';
}

hr{
  color: #f35df8;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
	content: none;
}
table {
  border-collapse: collapse;
	border-spacing: 0;
}

/* more reset by bob */
*{
  text-decoration: none;
  /* box-sizing: border-box; */
}

html{
  background-color: cornsilk;
}

/* end reset */


h1{
  font-size: 1.6rem;
  color: crimson;
  /* font-weight: lighter; */
  margin-top: 1rem;
  font-weight: 900;
}

h1 a{
  text-decoration: none;
}

h2{
  font-size: 1.6rem;
  /* color: rgb(58, 58, 58); */
  color: rebeccapurple;
  font-weight: 1000;
  padding: 0.1rem;
  mix-blend-mode: hard-light;
  background-color: rgb(255, 225, 252);
  border-radius: 2px;
}

h3 {
  font-size: 1.2rem;
  padding: 0.5rem;
  padding-top: 1.2rem;
  /* margin-top: 0.5rem; */
  font-weight: bold;
  opacity: 70%;
}

h4 {
  font-size: 1.1rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  color: mediumslateblue;
  font-weight: bold;
  /* opacity: 25%; */
}

p{
  /* margin:0; */
  margin: 1rem;
  /* margin-bottom: 0.25rem; */
}

strong{
  font-weight: bolder;
}

em{
  font-style: italic;
}

del {
  text-decoration: line-through;
}

pre{
  margin: 1rem;
  padding: 1rem;
  background-color: #333333;
  border: limegreen;
  border-radius: 2px;
  border-style: solid;
  border-radius: 0.6rem;
}

code {
  color: limegreen;
}

.site-container{
  /*maximum content width is this width * 0.75*/
  max-width: var(--max-width);
  /* min-width: 320px; */
  /* min-width: 100vw; */
  margin: auto; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}


/* HEADER */
.header{
  grid-area: header;
  text-align: center; 
  padding:1px;
  text-transform:capitalize;
  background-color:black;
  color:red;
  min-height: 20vh;
  
}

.header a{
  text-decoration: none; 
  color:white;
}

/* NAV */
.nav{
  background-color: orange;
	position: -webkit-sticky;
	position: sticky;
	top: -3rem;
  min-height: 5vh;
  z-index: 999; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: end;
  align-items: baseline;
}


.nav-item{
  margin: 0.6rem;
  text-decoration: none;
  /* flex-grow: 1.1; */
  /* display: flex; */
  /* flex-direction: row; */
  /* font-weight: unset; */
}


.flex-spacer{
  flex-grow: 1;
  flex-shrink: 1;
  /* background-color: black; */
  min-width: 0;
  opacity: 0;
}

/* MAIN */
.main{
  background-color: yellow;
}

/*CONTAINER FOR SINGLE PAGE*/
.main-grid-container{
  background-color: cadetblue;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: auto auto; 
  gap: 0px 0px; 
  grid-template-areas: 
    "content"
    "contextual-nav"
}

/*CONTENT*/
.content{
  background-color: yellow;
  /* display: flex; */
  max-width: 100vw;
}

.content img{
  max-width: 100%;
  max-height: 50vh;
  display: block;
  margin: auto;
  margin-bottom: 0.6rem;
}

/* CONTEXTUAL NAV */
.contextual-nav{
  grid-area: contextual-nav;
  text-align: center; 
  text-transform:capitalize;
  background-color:yellowgreen;
  color:rgb(255, 255, 255);
  height: 100%;
 
}

.contextual-nav a{
  text-decoration: none; 
  color:white;
}


/* FOOTER */
.footer{
  grid-area: footer;
  color: white;
  background-color:orange;
  bottom: 0;
  right: 0;
  text-align: right;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer div{
  opacity: 0.8;
  padding: 0.1rem;
}

.contactContainer{
  /* TODO right side padding is uneven */
  margin: 0.5rem;
  padding: 0.5rem;
}

input{
  border: black;
  border-style: dashed;
  border-width: 2px;
  width: 40%;
  margin-top: 0.5rem;
  height: 1.5rem;
}

textarea{
  border: black;
  border-style: dashed;
  border-width: 2px;
  resize: none;
  width: 100%;
  height: 300px;
}

/*LIST GALLERY*/
.gallery-container{
  display: flex;
  flex-wrap: wrap;
  /* width: 100vw; */
  justify-content: space-evenly;
  /* overflow: hidden; */
}

.gallery-container a{
  text-decoration: none;
}

.gallery-item{
  width: calc(100vw - 20px);
  height: 28vh;
  background-color: aqua;
  color: green;
  border: 2px solid #f35df8;
  border-radius: 2px;
  overflow: hidden;
  background-position: center; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* margin: 0.6rem; */

  text-decoration: none;
}

.gallery-item div{
  justify-self: center;
  align-self: flex-end;
  padding: 1rem;
  margin: 0.6rem;
}

.note-item{
  /* width: calc(100vw - 20px); */
  /* height: 28vh; */
  background-color: blueviolet;
  /* color: green; */
  border: 2px solid darkviolet;
  border-radius: 2px;
  overflow: hidden;
  background-position: center; 
  display: flex;
  flex-shrink: 1;
  /* max-width: 96vw; */
  /* max-width: 45vw; */
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: start;
  margin: 0.6rem;
  text-decoration: none;
}

.note-item div span{
  overflow: hidden;
  /* background-color: #f35df8; */
  max-width: 33vw;
  padding: 2rem;
  margin: 2rem;
}

.note-date{
  color: whitesmoke;
  padding: 0.2rem;
}

.note-item h2{
  overflow: hidden;
  /* background-color: #f35df8; */
  max-width: 66vw;
  padding: 1rem;
}


.summary-div{
  overflow: hidden;
  background-color: orchid;
  max-width: 33vw;
  padding: 1rem;
  border-top-right-radius: 2rem;
}




/*PROJECT PAGE*/
.project-meta{
  /* min-height: 10vh; */
  background-color: rgb(164, 137, 216);
}

.project-meta td {
  padding: 0.1rem;
  padding-left: 0.5rem;
}

.project-hero-banner{
  height: 25vh;
  background-position: center;
  object-fit: contain;
  padding: 0;
  margin: 0;
}

.project-abstract{
  text-align: center;
  padding: 1.6rem;
  background-color: rgb(175, 151, 216);

}


/* BIG SCREENS */
@media (min-width: 600px) {
  .main-grid-container{ 
    grid-template-columns: minmax(400px, auto) 25vw; 
    grid-template-rows: auto; 
    grid-template-areas: 
      "content contextual-nav"
  }

  .gallery-item{
    width: unset;
    height: 28vh;
    flex-grow: 1;
    background-color: aqua;
    margin: 0.6rem;
  }

  .gallery-container a{
    flex-grow: 1;
  }

  .nav{
    flex-direction: row;
    top: -1px;
  }

  .nav-item h1{
    font-size: 3em;
    font-weight: 500;
  }

  .footer{
    /* flex-direction: row; */
  }
}