<a href="{{.Site.BaseURL}}/">
  <div class="nav-item"><h1>ZEAL.CO</h1></div>
</a>
<div class="flex-spacer"></div>
<!-- <div class="nav-item"> -->
<div style="display:flex; flex-wrap: wrap;">
  <a href="{{.Site.BaseURL}}/projects"><div class="nav-item">Projects</div></a>
  <!-- <a href="{{.Site.BaseURL}}/notebook"><div class="nav-item">Notebook</div></a> -->
  <a href="{{.Site.BaseURL}}/about"><div class="nav-item">About</div></a>
  <!-- <a href="{{.Site.BaseURL}}/search"><div class="nav-item">Search</div></a> -->
  <a href="{{.Site.BaseURL}}/contact"><div class="nav-item">Contact</div></a>
<!-- </div> -->
</div>