<div class=contactContainer>
<form name="Contact Form" method="POST" netlify-honeypot="bot-field" data-netlify="true" action="/contacted">
  <input type="hidden" name="bot-field" />
  <input type="hidden" name="form-name" value="Contact Form" />
  
  <div>
  <label>
  <textarea type="text" name="message" placeholder="🗣 Talk to me about collaboration, research, one-on-one tuition, or just say hi..."></textarea>
  </label>
  </div>

  <div>
  <label>
  <input type="email" name="email" placeholder="📧 Your email address..." />
  </label>
  <button type="submit">Send</button>
  </div>
  
</form>
</div>
